.brandIconLink{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
}

.brandIconLink{
    margin-left: 10px;
    height: 40%;
    transition: 0.1s ease-out;
}
.brandIconLink:hover{
    transform: scale(1.1);
    transition: 0.1s ease-in;
}
.brandIcon{
    height:100%;
    width: 100%;
    object-fit: contain;
}

@media (max-width:690px){
    .brandIconLink{
        height: 65%;
    }
}

@media (max-width:560px){
    .customBrandIcon{
        margin-top: 0px;
    }
}

@media (max-width:360px){
    .brandIconLink{
        height: 55%;
    }

}